@import "tailwindcss";

/* *{
  border:1px solid red;
} */

html {
  scroll-behavior: smooth;
}
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbitReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-orbit {
  animation: orbit 30s linear infinite;
}

.animate-orbit-reverse {
  animation: orbitReverse 40s linear infinite;
}


